/* Define an accordion container */
.acordeon {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
    transition: 350ms;

}

/* Styles for the accordion container when open or on hover */
.acordeon.open,
.acordeon:hover {
    background-color: blueviolet;
    border-color: blueviolet;
}

/* Define the accordion trigger */
.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border: none;
}

/* Define the style for the title inside the trigger */
.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;

}

/* Define the style for the trigger on hover */
.acordeon .trigger:hover {
    cursor: pointer;

}


/* Adds an icon after the trigger */
.acordeon .trigger::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/arrow.svg');
    transition: 350ms;
}

/* Rotates the icon when the accordion is open */
.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

/* Define the content area of the accordion */
.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 350ms ease-in-out;

}


/* Styles for the content area when the accordion is open */
.acordeon.open .content {
    display: inline-block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;

}