/* Define an experience container */
.experience{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Define the list items in the experience container */
.experience li{
    margin-bottom: 1rem;
}

/* Define the period class within list items */
.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: .5rem;
}


/* Add an icon before the period class */
.experience li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/icons/calendar.svg');
    margin-right: .5rem;
}