/*general configs*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*sizing adjust*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*background and text*/
body {
    background: linear-gradient(349deg, rgba(19, 70, 201, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(87, 2, 130, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/*link configs*/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*link configs*/


/*main div*/
.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

/*responsiveness*/
@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 0 auto;
    }
}