/* Define a skills container with a column layout */
.skills{
    display: flex;
    flex-direction: column;
}

/* Styles for the tools list within .skills */
.skills .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Styles for images within tools list items */
.skills .tools ul li img{
    max-width: 75px;
    margin: 0.5rem;
}

/* Styles for the personal list within .skills */
.skills .personal ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/* Styles for items within the personal list */
.skills .personal ul li{
    margin-left: 2rem;
    padding: .5rem;
}

/* Media query for screens with a minimum width of 768px */
@media only screen and (min-width: 768px){
    .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}